*{
    margin: auto;
    height: auto;
}
body{
    background-image: linear-gradient(blue, #000000);
}

/*header*/
header{    
    width:auto;
    height: 120px;
    border-bottom: #fff solid 1px;
    display: flex;
    justify-content: center;
    
}

header img{
    margin-top: 5%;
    border-top: solid white 5px;
    border-left: white solid 2px;
    border-radius: 50%;  
    height: 120px;  
}
header img:hover{
    box-shadow: white -2px -3px 50px 1px;  
}

/* main*/

.bloco{
    margin: 10%;
    padding: 1px;
    display: flex;
    flex-direction: column;
    
}

section{
    background-color: rgba(110, 108, 255, 0.623);
    border: white solid 3px;
    border-bottom-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 10%;
    box-shadow: #000000b4 0px 3px 5px 1px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    
}
a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

section:hover{
    background-color: rgba(30, 31, 65, 0.863);
    border: 3px solid black;
    box-shadow: none;
}


/* footer*/

footer{
    width: auto;
    height: 15%;
    border: white solid 1px;
}

/* mobile */

@media (max-width: 950px){   
    header{
        background-color: rgba(12, 12, 172, 0.219);
        width:auto;
        display: flex;
        justify-content: center;
        border-bottom: 0;               
    }
    
    header img{          
        border-radius: 50%;
        height: 80px;             
    }
    header img:hover{
        box-shadow: white -2px -3px 50px 1px;  
    }
    

    footer{        
        border: none;
        height: 50vh;
        margin: none;
    }
    
}
/*
